  <election_administration id="{ID}">
    <name>{NAME}</name>
    <mailing_address>
      <line1>{MAILING_ADDRESS}</line1>
      <city>{CITY}</city>
      <state>{STATE}</state>
      <zip>{ZIP}</zip>
    </mailing_address>
    <elections_url>{ELECTIONS_URL}</elections_url>
    <registration_url>{REGISTRATION_URL}</registration_url>
    <am_i_registered_url>{AM_I_REGISTERED_URL}</am_i_registered_url>
    <absentee_url>{ABSENTEE_URL}</absentee_url>
    <where_do_i_vote_url>{WHERE_DO_I_VOTE_URL}</where_do_i_vote_url>
  </election_administration>