  <polling_location id="{ID}">
    <address>
      <location_name>{LOCATION_NAME}</location_name>
      <line1>{ADDRESS}</line1>
      <city>{CITY}</city>
      <state>{STATE}</state>
      <zip>{ZIP}</zip>
    </address>
  </polling_location>