  <precinct id="{ID}">
    <name>{NAME}</name>
    <locality_id>{LOCALITY_ID}</locality_id>
    <mail_only>{MAIL_ONLY}</mail_only>
    <polling_location_id>{POLLING_LOCATION_ID}</polling_location_id>
    <early_vote_site_id>{EARLY_VOTE_SITE_ID}</early_vote_site_id>
  </precinct>