  <street_segment id="{STREET_SEGMENT_ID}">
    <start_house_number>{START_HOUSE_NUMBER}</start_house_number>
    <end_house_number>{END_HOUSE_NUMBER}</end_house_number>
    <start_apartment_number>{START_APARTMENT_NUMBER}</start_apartment_number>
    <end_apartment_number>{END_APARTMENT_NUMBER}</end_apartment_number>
    <odd_even_both>{ODD_EVEN_BOTH}</odd_even_both>
    <non_house_address>
      <street_direction>{STREET_DIRECTION}</street_direction>
      <street_name>{STREET_NAME}</street_name>
      <street_suffix>{STREET_SUFFIX}</street_suffix>
      <address_direction>{ADDRESS_DIRECTION}</address_direction>
      <state>{STATE}</state>
      <city>{CITY}</city>
      <zip>{ZIP}</zip>
    </non_house_address>
    <precinct_id>{PRECINCT_ID}</precinct_id>
    <precinct_split_id>{PRECINCT_SPLIT_ID}</precinct_split_id>
  </street_segment>
