<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="vipSettings" type="System.Configuration.DictionarySectionHandler, System" />
    <section name="xmlWriterSettings" type="System.Configuration.DictionarySectionHandler, System" />
    <section name="dbSettings" type="System.Configuration.DictionarySectionHandler, System" />
    <section name="electionAdmin" type="System.Configuration.DictionarySectionHandler, System" />
    <section name="electionOfficial1" type="System.Configuration.DictionarySectionHandler, System" />
    <section name="electionOfficial2" type="System.Configuration.DictionarySectionHandler, System" />
  </configSections>

  <appSettings>
    <add key="FTPDirectory" value="feeds" />
    <add key="FTPHost" value="" />
    <add key="FTPUser" value="" />
    <add key="FTPPass" value="" />
  </appSettings>

  <xmlWriterSettings>
    <add key="Indent" value="true" />
    <add key="IndentChars" value="  " />
    <add key="ConformanceLevel" value="Fragment" />
  </xmlWriterSettings>

  <dbSettings>
    <add key="Host" value="HOST" />
    <add key="Port" value="1521" />
    <add key="User" value="USER" />
    <add key="Pass" value="PASS" />
  </dbSettings>

  <vipSettings>
    <add key="FilePath" value="C:\" />
    <add key="SchemaURL" value="http://election-info-standard.googlecode.com/files/vip_spec_v2.1.xsd" />
    <add key="SchemaVer" value="2.1" />
    <add key="StateName" value="State" />
    <add key="StateFIPS" value="20" />
    <add key="Description" value="The Secretary of State is the chief state election official for the state. This feed provides information on registration, advance voting, and the location of polling locations for registered voters in the state." />
    <add key="OrganizationURL" value="http://sos.gov" />
  </vipSettings>

  <electionAdmin>
    <add key="id" value="6000" />
    <add key="name" value="Secretary of State" />
    <add key="eo_id" value="7001" />
    <add key="ovc_id" value="7002" />
    <add key="location_name" value="Location Name" />
    <add key="line1" value="1100 Some Street" />
    <add key="line2" value="1st Floor" />
    <add key="city" value="City" />
    <add key="state" value="VT" />
    <add key="zip" value="00000-0000" />
    <add key="elections_url" value="http://sos.gov/elections/" />
    <add key="registration_url" value="http://sos.gov/elections/registration" />
    <add key="am_i_registered_url" value="https://sos.gov/elections/registration" />
    <add key="rules_url" value="http://sos.gov/forms/elections/rules" />
    <add key="hours" value="M-F 8am-5pm" />
  </electionAdmin>

  <electionOfficial1>
    <add key="id" value="7001" />
    <add key="title" value="Head of Elections" />
    <add key="name" value="Full Name" />
    <add key="phone" value="0000000000" />
    <add key="fax" value="0000000000" />
    <add key="email" value="person@sos.gov" />
  </electionOfficial1>

  <electionOfficial2>
    <add key="id" value="7002" />
    <add key="title" value="Overseas Voter Contact" />
    <add key="name" value="Full Name" />
    <add key="phone" value="0000000000" />
    <add key="fax" value="0000000000" />
    <add key="email" value="person@sos.gov" />
  </electionOfficial2>
</configuration>